
body {
  margin: 0;
  padding: 0;
  font-family: serif;
  font-size: 12pt;
  overflow: hidden;
}

#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#web-gl-view {
  margin: 0;
  padding: 0;
  outline: none;
}

#debug {
  position: absolute;
  bottom: 1em;
  left: 2ch;
  color: white;
}
